*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #201e1e;
    color: #c34213;
    height: 100vh;
}

@font-face {
    font-family: digital;
    src: url(Digital7-1e1Z.ttf);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stopwatch-container {
    max-width: 900px;
    max-height: 350px;
    width: 100%;
    height: 100%;
}

.stopwatch {
    width: 100%;
    height: 100%;
    background: #161616;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
    0 0 9px 0 rgba(0, 0, 0, 0.112),
    0 0 72px 2px rgba(0, 0, 0, 0.23)
    ;


}

.stopwatch-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68%;
    width: 80%;
    position: relative;
    gap: 5%;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0 8px 32px 0 rgba(255, 0, 0, 0.014);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 15px;
    border: 5px solid rgba(39, 38, 38, 0.205);
    outline: 5px solid rgba(39, 38, 38, 0.671);
}

.stopwatch-time {
    display: flex;
    align-items: baseline;
    background: rgba(255, 0, 0, 0.068);
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 5px;
    padding: 10px;
}

.miliseconds .miliseconds {
    font-size: 50px;
}

.time {
    font-size: 7.5em;
    font-family: digital;
}